.img1
{
   position: absolute;
   bottom: 0px;
    left: 0px;
  }
.img2
{
    position: absolute;
  transform: translate(750px,30px);
}
.img3
{
    position: absolute;
    transform: translate(815px,93px);  
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.29);
}
.oval
{
   border-radius: 40px; 
  width: 100px;
  height: 50px;
  background-color: white;
  position: absolute;
  transform: translate(890px,600px);
}
.img4{
position: absolute;
transform: translate(910px,615px);
}
.img5{
  position: absolute;
  transform: translate(960px,615px);
}
.img6
{
  position: absolute;
  left: 350px;
  bottom: 450px;
}
 #p1{
  width: 650px;
    position: absolute;
    color: hsl(240, 38%, 20%);
    text-align:left;
    font-size: 32px;
    left: 250px;
    bottom: 250px;
    font-weight: 300;
    font-family: inter;
}
#p2
{
    position: absolute;
    color: hsl(240, 38%, 20%);
    text-align:left;
    font-size: 18px;
    left: 250px;
    bottom: 200px;
    font-weight: 700;
    font-family: inter;
}
#p3
{
    position: absolute;
    color: hsl(240, 18%, 77%);
    text-align:left;
    font-size: 18px;
    left: 380px;
    bottom: 200px;
    font-weight: 500;
    font-family: inter;
}
h1{
    color: hsl(240, 18%, 77%);
    position: absolute; 
} 
/* ---------Background Animation------------------------------------------------------------------------------ */
@keyframes squar{
   0%
   {
 opacity: 0.5;
 transform: translate(0px,0px) rotate(0deg);;
   }
   100%
   {
 opacity: 0;
 transform: translate(0px,500px) rotate(70deg);
   }
 }
 .animation div:nth-child(1)
 {
position: absolute;
width: 90px;
 height: 90px;
background-color: hsl(240, 18%, 77%);
animation: squar 4s 1s linear infinite;
left: 850px;
 }
 .animation div:nth-child(2)
 {
position: absolute;
width: 50px;
 height: 50px;
background-color: hsl(240, 18%, 77%);
animation: squar 5s linear infinite;
left: 100px;
 }
 .animation div:nth-child(3)
 {
position: absolute;
width: 30px;
 height: 30px;
background-color: hsl(240, 18%, 77%);
animation: squar 8s 2s linear infinite;
left: 500px;
 }
 .animation div:nth-child(4)
 {
position: absolute;
width: 90px;
 height: 90px;
background-color: hsl(240, 18%, 77%);
animation: squar 7s 1s linear infinite;
left: 300px;
 }
 .animation div:nth-child(6)
 {
position: absolute;
width: 60px;
 height: 60px;
background-color: hsl(240, 18%, 77%);
animation: squar 3s  linear infinite;
left: 600px;
 }
 .animation div:nth-child(7)
 {
position: absolute;
width: 90px;
 height: 90px;
background-color: hsl(240, 18%, 77%);
animation: squar 4s 1s linear infinite;
left: 850px;
 }
 .animation div:nth-child(8)
 {
position: absolute;
width: 90px;
 height: 90px;
background-color: hsl(240, 18%, 77%);
animation: squar 7s 1s linear infinite;
left: 1325px;
 }
 .animation div:nth-child(9)
 {
position: absolute;
width: 70px;
 height: 70px;
background-color: hsl(240, 18%, 77%);
animation: squar 7s 3s linear infinite;
left: 1450px;
 }
 .animation div:nth-child(10)
 {
position: absolute;
width: 90px;
 height: 90px;
background-color: hsl(240, 18%, 77%);
animation: squar 6s linear infinite;
left: 0;
 }
/*  -------------------------------------------------------------------------------------------------------- */